.portContainer {
  margin: 100px;
}

.portHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;

  margin: 3rem 0;
}

.arrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: 0.5rem;
}

.portList {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 1.5rem;
  flex-wrap: wrap;
}

.portList img {
  width: 310px;
  height: 300px;
}
